* {
    margin: 0; padding: 0;
    border: none; text-decoration: none;
    list-style-type: none; box-sizing: border-box;
    line-height: 1.5;
}

html {
    height: 100vh;
    font-size: 17px;
}

body {
    color: black;
    box-sizing: content-box;
    font-family: "Baloo Thambi 2", system-ui;
}

nav {
    position: absolute;
    width: 100%; height: 40px;
    border-bottom: solid 4px black;
    background-color: var(--blue);
    display: flex; flex-direction: row;
    justify-content: center;
}

nav ul {
    width: 60%;
    display: flex; flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    width: 200px; height: 100px ;
    font-family: "Lilita One", serif;
    text-transform: uppercase; text-align: center;
    border-radius: 0 0 40px 40px;
    border: solid 4px black; border-top: none;
    cursor: pointer;

    display: flex;
    justify-content: center; align-items: center;
    & a {
        color: black;
        font-size: var(--text-M);
    }
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li:hover {
    height: 150px;
    transition-duration: 1s;
}

.blue {background-color: var(--blue);}
.yellow {background-color: var(--yellow);}
.orange {background-color: var(--orange);}
.green {background-color: var(--green);}


header {
    height: 100vh;
    overflow: hidden;
}

header h1 {
    display: none;
}

#logo{
    position: absolute;
    width: 30%;
    top: 25vh;
    left: calc(50% - 20px); transform: translateX(-50%);
}

#cover{
    display: flex;
    justify-content: center; align-items: center;
    width: 100%; height: 100%;
    z-index: 50;
}

div#contentwrap {
    width: 80%;
    max-width: 75rem;
    margin: 60px auto 0;
    display: flex; flex-direction: column;
    gap: 2rem;
}



h2, h1, h3 {
    font-family: "Lilita One", serif;
    text-transform: uppercase;
}

main p, aside p {
    margin-bottom: 0.5rem;
    text-indent: 1rem;
}

main p.claim {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Noto_ital', sans-serif;
    text-indent: 0;
}

aside {
    margin-top: 100px;
    width: 100%;
}

aside figure {
    width: 30%;
}

aside figure img {
    width: 100%;
    border-radius: 24px;
    border: 4px solid black;
    float: left; margin-right: 50px;
}

footer {
    height: fit-content;
    background-color: var(--green);
    margin-top: 2rem;
    overflow: hidden;
    padding-bottom: 50px;
}

#footwrap {
    width: 80%;
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer section {
    margin-top: 2rem;
    height: fit-content;
}

.ul-row{
    display: flex; flex-direction: row;
    gap: 20px;
}

footer section ul li a {
    color: black;
    font-size: 0.8rem;
}

footer section#siegel ul, footer section#socmed ul  {
    margin-top: 20px;
    display: flex; flex-direction: row;
    height: 50px; gap: 10px;
}

footer section ul li a img {
    height: 100%;
}
.konfigbtn {
    width: 200px;
    position: absolute;
    right: 10% !important; 
    top: 33vh;
}
.konfigbtn:hover {
    animation: rotate-shake 0.5s ease-in-out;
    transform: scale(1.05);
}

@keyframes rotate-shake {
    0% { transform: rotate(0deg) translateX(0) scale(1.05); }
    25% { transform: rotate(-5deg) translateX(-5px) scale(1.05); }
    50% { transform: rotate(5deg) translateX(5px) scale(1.05); }
    75% { transform: rotate(-5deg) translateX(-5px) scale(1.05); }
    100% { transform: rotate(0deg) translateX(0) scale(1.05); }
}


.footer-border-radius{
    width: calc(100% + 8px); height: 50px;
    margin-left: -4px;
    background-color: white;
    border-radius: 0 0 100px 100px;
    border: 4px black solid;
    border-top: none;
}
