@media (orientation: portrait) {
    nav .schritt{
        width: 100px; height: 50px ;
    }

    nav p{
        font-size: 15px!important;
    }

    nav .schritt-container{
        gap: 15px;
    }

    #logo{
        position: absolute;
        top: 25vh;
        width: 60%;
        margin: 0 0 30px -10px;
        cursor: pointer;
    }

    .overflow-hidden{
        width: 100vw;
        overflow: hidden;
        position: absolute;
        bottom: 2vh; left: 0;
        display: flex;
        justify-content: center;
    }

    #video {
        width: 120%;
    }

    .product{
        margin: 5vh 0 0 5vw;
        width: 90vw;
        overflow: hidden;
        overflow: auto; white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 3px;
    }

    .product button{
        font-size: 16px;
        margin-right: 20px;
    }

    .erklaerung{
        left: 5vw;
        font-size: 16px;
    }




    .slider-wrapper{
        margin: 15vh 14vw 55px;
    }


    .beleg-container{
        width: 80vw; height: 70vh;
        margin-top: 100vh;
        border-radius: 32px;
    }
    .beleg-container .titel{
        font-size: 15px; font-weight: 500;
    }
}