@import url('https://fonts.googleapis.com/css2?family=Lilita+One');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');


:root{
    --yellow: #F2BB16;
    --orange: #D9580D;
    --green: #9ABF11;
    --blue: #22DDF2;
    --dark: darkslategrey;



    --text-S: 12px;
    --text-default: 15px;
    --text-M: 20px;
    --text-L: 25px;
    --text-XL: 30px;
    --text-XXL: 40px;
}