@import 'swiper/swiper-bundle.css';

.swiper{
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;
}

.swiper-horizontal{
    & .swiper-button-prev, .swiper-button-next{
        color: var(--yellow);
        top: calc(50% - 30px);
        margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
        border-radius: 100px;
    }
}


.swiper-pagination-bullet {
    background: var(--yellow);
    height: 15px;
    width: 15px;
    user-select: none;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
}

@media (hover: hover) and (pointer: fine) {
    .swiper-button-prev:hover, .swiper-button-next:hover{
        color: var(--green);
    }
    .swiper-pagination-bullet:hover {
        background: var(--green);
    }
}

.swiper {
    height: fit-content;
    padding: 0 30px 30px;
    width: 100%;
    
    /* Desktop */
    @media (min-width: 1440px) {
        width: calc(100% - 200px);
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    .swiper-horizontal .swiper-button-prev{
        margin-left: -10px;
    }
    .swiper-horizontal .swiper-button-next{
        margin-right: -10px;
    }
}